In [1]:
import pandas as pd

In [2]:
hub_df = pd.read_csv('../data/hubNashville__311__Service_Requests.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
hub_covid_df = hub_df[hub_df['Request Type'] == 'COVID-19']

In [4]:
hub_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15923 entries, 0 to 255454
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Request #                   15923 non-null  int64
 1   Status                      15923 non-null  object
 2   Request Type                15923 non-null  object
 3   Subrequest Type             15922 non-null  object
 4   Additional Subrequest Type  15904 non-null  object
 5   Date / Time Opened          15923 non-null  object
 6   Date / Time Closed          15870 non-null  object
 7   Request Origin              15923 non-null  object
 8   System of Origin ID         0 non-null      object
 9   Contact Type                65 non-null     object
 10  Preferred Language          0 non-null      float64
 11  State Issue                 15923 non-null  bool
 12  Parent Request              1 non-null      float64
 13  Closed When Created         15923 non-null  bool
 14  Address                     11663 non-null  object
 15  City                        11046 non-null  object
 16  Council District            11078 non-null  float64
 17  ZIP                         11111 non-null  object
 18  Latitude                    11758 non-null  float64
 19  Longitude                   11758 non-null  float64
 20  Mapped Location             11758 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 2.5+ MB

In [5]:
hub_covid_violations_df = hub_covid_df[hub_covid_df['Subrequest Type'] == 'COVID-19 Violations']

In [6]:
hub_covid_violations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11632 entries, 61 to 252983
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Request #                   11632 non-null  int64
 1   Status                      11632 non-null  object
 2   Request Type                11632 non-null  object
 3   Subrequest Type             11632 non-null  object
 4   Additional Subrequest Type  11623 non-null  object
 5   Date / Time Opened          11632 non-null  object
 6   Date / Time Closed          11611 non-null  object
 7   Request Origin              11632 non-null  object
 8   System of Origin ID         0 non-null      object
 9   Contact Type                46 non-null     object
 10  Preferred Language          0 non-null      float64
 11  State Issue                 11632 non-null  bool
 12  Parent Request              1 non-null      float64
 13  Closed When Created         11632 non-null  bool
 14  Address                     11258 non-null  object
 15  City                        10653 non-null  object
 16  Council District            10686 non-null  float64
 17  ZIP                         10718 non-null  object
 18  Latitude                    11354 non-null  float64
 19  Longitude                   11354 non-null  float64
 20  Mapped Location             11354 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 1.8+ MB

In [7]:
for field in ['Date / Time Opened', 'Date / Time Closed']:
    hub_covid_violations_df[field] = pd.to_datetime(hub_covid_violations_df[field], errors='coerce')

<ipython-input-7-766ac9628eea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hub_covid_violations_df[field] = pd.to_datetime(hub_covid_violations_df[field], errors='coerce')

In [8]:
for field in ['System of Origin ID', 'Preferred Language', 'Request Type', 'Subrequest Type', 'Additional Subrequest Type', 'Request Origin', 'Parent Request']:
    del hub_covid_violations_df[field]

In [9]:
hub_covid_violations_df.head()

,Request #,Status,Date / Time Opened,Date / Time Closed,Contact Type,State Issue,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
61,346122,Closed,2020-04-15 11:33:26,2020-04-16 14:55:01,NaN,False,False,928 6th Ave S,NASHVILLE,17.0,37203,36.149040,-86.772273,"(36.1490396, -86.77227289999999)"
95,339374,Closed,2020-04-04 18:13:59,2020-04-09 13:07:22,NaN,False,False,500 Gallatin Ave,NASHVILLE,5.0,37206,36.181548,-86.749695,"(36.181548, -86.749695)"
110,343513,Closed,2020-04-10 10:40:08,2020-04-14 19:39:09,NaN,False,False,5720 Crossings Blvd,NaN,NaN,NaN,36.039608,-86.646541,"(36.039608, -86.646541)"
113,442996,Closed,2020-08-12 02:05:29,2020-08-12 16:03:35,NaN,False,False,7689 Hwy 70 S,NASHVILLE,22.0,37221,36.078933,-86.953400,"(36.07893290000001, -86.9533998)"
118,339423,Closed,2020-04-04 20:12:27,2020-04-09 14:21:09,NaN,False,False,5310 Mt View Rd,ANTIOCH,32.0,37013,36.048182,-86.648447,"(36.0481819, -86.6484474)"

In [10]:
hub_covid_violations_df = hub_covid_violations_df.drop(23443)

In [11]:
hub_covid_violations_df.to_csv('../data/hub_covid_violations.csv', index=False)